<% arrival = d.expected_arrival.strftime("%H:%M") %>
<li class="collection-item">
  <div class="row">
    <div class="col s1 center-align valign-wrapper" style="font-size: 150%"><%= d.expected_in %></div>

    <div class="col s4 center-align">
      <%= link_to d.route_number,
        map_url(bus_route: d.route_number),
        class: "blue lighten-4 btn-flat",
        data: { turbo: false }
      %>
    </div>
    <div class="col s4 center-align">
      <% if d.express? then %>
        <span class="new badge red" data-badge-caption=""><%= t :express_bus %></span>
      <% else %>
        <span class="new badge" data-badge-caption=""><%= t :ordinary_bus %></span>
      <% end %>
    </div>

    <div class="col s1 center-align"><%= arrival %></div>
  </div>
</li>
