<div class="row departure-header valign-wrapper">
  <div class="col s9">
    <span class="text"><%= @from.display_name %></span>
    <i class="material-icons">arrow_forward</i>
    <%= @to.display_name %>
    <a href="<%= departures_url(@to, @from) %>" data-turbo="false">
      <i class="material-icons">swap_horiz</i>
    </a>
  </div>
  <div class="col s1 right-align">
    <%= Time.now.strftime("%H:%M:%S") %>
    <a href="javascript: window.location.reload()">
      <i class="material-icons">refresh</i>
    </a>
  </div>
</div>

<%= turbo_frame_tag "departures" do %>
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="row valign-wrapper">
        <div class="col s2"><%= t(:expected_in) %></div>
        <div class="col s7">
          <% if @express_only %>
            <%= link_to t(:slow_and_fast),
              departures_url(@from, @to, express_only: "no"),
              data: { turbo: { frame: "departures" } },
              class: "waves-effect waves-teal btn-flat"
            %>
        <% else %>
          <%= link_to t(:express_only),
            departures_url(@from, @to, express_only: "yes"),
            data: { turbo: { frame: "departures" } },
            class: "waves-effect waves-teal btn-flat"
          %>
      <% end %>
        </div>
        <div class="col s1"><%= t(:should_arrive) %></div>
      </div>
    </li>

    <% @departures.each do |d| %>
      <%= render partial: "departure", locals: { d: d } %>
    <% end %>
  </ul>
<% end %>
