<%= hidden_field_tag :view_type, @view_type %>
<div class="input-field col s3">
  <input
     placeholder="<%= t :from %>"
     data-map-target="fromtext"
     id="from"
     type="text"
     value="<%= @from ? @from.display_name : "" %>"
     >
</div>
<div class="input-field col s3">
  <input
     placeholder="<%= t :to %>"
     data-map-target="totext"
     id="to"
     type="text"
     value="<%= @to ? @to.display_name : "" %>"
     >
</div>
<div class="col s6 valign-wrapper">
  <a href="#" class="waves-effect waves-light btn-small view-changer" data-action="click->map#clearJourney"><i class="material-icons">clear</i></a>

  <a href="#"
     data-action="click->map#search"
     data-map-target="search"
     data-search_url="<%= @search_url %>"
     class="waves-effect waves-light btn-small"
     data-turbo="false"
     >
     <i class="material-icons">search</i>
  </a>

  <a href="<%= map_url(view_type: "bus_route") %>"
     class="waves-effect waves-light btn-small tooltipped view-changer"
     data-tooltip="<%= t :change_to_route_view %>"
     data-position="top"
     >
     <i class="material-icons">directions_bus</i>
  </a>
</div>
