<%= hidden_field_tag :view_type, @view_type %>
<div class="input-field col s3">
  <input placeholder="<%= t :from %>" id="from" type="text" value="<%= @from ? @from.display_name : "" %>">
</div>
<div class="input-field col s3">
  <input placeholder="<%= t :to %>" id="to" type="text" value="<%= @to ? @to.display_name : "" %>">
</div>
<div class="col s6 valign-wrapper">
  <a href="#" class="waves-effect waves-light btn-small <%= @clear_disabled %>" data-action="click->map#clearJourney"><i class="material-icons">clear</i></a>
  &nbsp;
  <a href="<%= @search_url %>" class="waves-effect waves-light btn-small <%= @search_disabled %>" data-turbo="false"><i class="material-icons">search</i></a>
  <a href="<%= map_url(view_type: "bus_route") %>"
     class="waves-effect waves-light btn-small tooltipped view-changer"
     data-turbo="false"
     data-tooltip="Change to route view"
     data-position="top"
     >
     <i class="material-icons">directions_bus</i>
  </a>
</div>
