<div class="row">
  <form class="col s8">
    <div class="row">
      <div class="input-field col s2">
        <input placeholder="<%= t :from %>" id="from" type="text" value="<%= @from ? @from.tei_name : "" %>">
      </div>
      <div class="input-field col s2">
        <input placeholder="<%= t :to %>" id="to" type="text" value="<%= @to ? @to.tei_name : "" %>">
      </div>
      <div class="col s2 valign-wrapper">
        <%
            clear_disabled = @from.nil? ? "disabled" : ""
            search_disabled = @to.nil? ? "disabled" : ""
            if !@to.nil?
              url = "/departures/#{@from.id}/#{@to.id}"
            end
        %>

        <a href="#" class="waves-effect waves-light btn-small <%= clear_disabled %>" data-action="click->map#resetJourney"><i class="material-icons">clear</i></a>

        &nbsp;

        <a href="<%= url %>" class="waves-effect waves-light btn-small <%= search_disabled %>" data-turbo="false"><i class="material-icons">search</i></a>

      </div>
    </div>
  </form>
</div>
