<div id="<%= dom_id bus_stop %>">
  <p>
    <strong>Upd date:</strong>
    <%= bus_stop.upd_date %>
  </p>

  <p>
    <strong>Jigyosha name:</strong>
    <%= bus_stop.jigyosha_name %>
  </p>

  <p>
    <strong>Tei kana:</strong>
    <%= bus_stop.tei_kana %>
  </p>

  <p>
    <strong>Ud type:</strong>
    <%= bus_stop.ud_type %>
  </p>

  <p>
    <strong>City name:</strong>
    <%= bus_stop.city_name %>
  </p>

  <p>
    <strong>Tei cd:</strong>
    <%= bus_stop.tei_cd %>
  </p>

  <p>
    <strong>Jigyosha cd:</strong>
    <%= bus_stop.jigyosha_cd %>
  </p>

  <p>
    <strong>Tei name:</strong>
    <%= bus_stop.tei_name %>
  </p>

  <p>
    <strong>Tei name foreign:</strong>
    <%= bus_stop.tei_name_foreign %>
  </p>

  <p>
    <strong>Tei type:</strong>
    <%= bus_stop.tei_type %>
  </p>

  <p>
    <strong>City cd:</strong>
    <%= bus_stop.city_cd %>
  </p>

  <p>
    <strong>Area type:</strong>
    <%= bus_stop.area_type %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= bus_stop.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= bus_stop.longitude %>
  </p>

  <p>
    <strong>Noriba cd:</strong>
    <%= bus_stop.noriba_cd %>
  </p>

  <p>
    <strong>Community type:</strong>
    <%= bus_stop.community_type %>
  </p>

  <p>
    <strong>Navi type:</strong>
    <%= bus_stop.navi_type %>
  </p>

</div>
