<!DOCTYPE html>
<html>
  <head>
    <title><%= t :title %></title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <div class="brand-logo tiny right"><%= t :title %></div>
          <a href="#" data-target="nav-target" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><%= link_to t(:map), map_url, data: { turbo: false } %></li>
            <li><%= link_to t(:my_journeys), my_journeys_url, data: { turbo: false } %></li>
            <li><a class="dropdown-trigger" href="#!" data-target="change_language"><%= t :language %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="nav-target">
        <li><%= link_to t(:map), map_url, data: { turbo: false } %></li>
        <li><%= link_to t(:my_journeys), my_journeys_url, data: { turbo: false } %></li>
        <li><div class="divider"></div></li>
        <li><a href="/en/<%= @path_without_locale %>" data-turbo="false">&#127468;&#127463; English</a></li>
        <li><a href="/ja/<%= @path_without_locale %>" data-turbo="false">&#127471;&#127477; 日本語</a></li>
      </ul>
      <ul id="change_language" class="dropdown-content">
        <li><a href="/en/<%= @path_without_locale %>" data-turbo="false">&#127468;&#127463; English</a></li>
        <li><a href="/ja/<%= @path_without_locale %>" data-turbo="false">&#127471;&#127477; 日本語</a></li>
      </ul>
    <header>
    <main class="container">
      <%= yield %>
    </main>

    <footer class="page-footer">
        <div class="container center-align">
          <a href="https://github.com/digitalronin/nishitetsu-bus-rails#nishitetsu-bus-rails">
            <%= image_tag "GitHub-Mark-32px.png", width: "32" %>
          </a>
      </div>
    </footer>

  </body>
</html>
